		{{- range .Site.Menus.main }}
			{{- if .HasChildren }}
				<a href="{{ .URL | absLangURL }}" class="has-children">{{ .Name }}</a>
				<span class="sub-menu">
				{{- range .Children }}
					<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
				{{- end }}
				</span>
			{{- else }}
				<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
			{{- end }}
		{{- end }}


    <!-- Horizontal entrys!

		<!--   <div style="display:flex; flex-direction: row; justify-content: space-evenly; align-items: center"> -->
		<!-- {{- range .Site.Menus.main }} -->
		<!-- 	{{- if .HasChildren }} -->
		<!-- 		<a href="{{ .URL | absLangURL }}" class="has-children">{{ .Name }}</a> -->
		<!-- 		<span class="sub-menu"> -->
		<!-- 		{{- range .Children }} -->
		<!-- 			<a href="{{ .URL | absLangURL }}">{{ .Name }}</a> -->
		<!-- 		{{- end }} -->
		<!-- 		</span> -->
		<!-- 	{{- else }} -->
		<!-- 		<a href="{{ .URL | absLangURL }}">{{ .Name }}</a> -->
		<!-- 	{{- end }} -->
		<!-- {{- end }} -->
		<!--   </div> -->
